.naItems li a{
    font-size: 20px;
    color: #3d535f !important;
    letter-spacing: 3px;
    border: none;
}
.navItems li {
    list-style: none;
    margin: 0 10px;
}
.navItems li a {
    font-size: 20px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a, .links a:hover {
    color: #7f00ff;
}
.links a {
    font-size: 30px;
    color: #3d535f;
    margin: 20px 10px;
}